.main-body
{
    background-color: rgb(252, 231, 238);
    padding-top:100px;
}
.header
{
    display : flex;
    flex : 1 1 1;
    justify-items : center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(231, 120, 139);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.travel-planning
{
    flex : 1;
    position: relative;
    display: inline-block;
}
/* adding tool tip to image */
.travel-planner::before {
    content: attr(title);
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.05s ease-in-out;
  }
  
  .travel-planner:hover::before {
    opacity: 1;
  }
.none
{
    flex : 1;
}
.main-logo
{
    flex : 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.travel-planner
{
    flex : 1;
    margin-left: 50px;
    height: 70px;
    border-radius: 35px;
    cursor : pointer ;
    background-color: rgb(199, 198, 198);
}
.logo
{
    cursor : pointer;
    height : 125px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.places-body
{
    display: grid;
    grid-template-rows: max-content;
    row-gap: 0px;
}
.first-two
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.raj-palace
{
    display : flex;
    flex-direction : column ;
    justify-items : center;
    align-items: center;
    background-color: rgb(249, 202, 209);
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 10px;
}
.raj-palace-img
{
   object-fit: cover;
   border-color: rgb(168, 168, 168);
   border-width: 1px;
   border-radius: 10px;
   margin : 15px 15px;
   cursor : pointer;
   width: 650px;
   height: 370px;
}
.raj-palace-info
{
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    color : rgb(0, 0, 0);  
    font-size: 15px;
    align-items: start;
    text-align: center;
    margin-top: 0px;
}
.raj-palace-heading
{
    cursor : pointer;
    text-align: center;
    margin-top: 0px;
}
.ram-bagh-palace
{
    display : flex;
    flex-direction : column ;
    justify-items : center;
    align-items: center;
    background-color: rgb(249, 202, 209);
    border-radius: 20px;
    margin-top:40px;
    margin-right: 10px;
}
.ram-bagh-palace-img
{
   object-fit: cover;
   border-color: rgb(168, 168, 168);
   border-width: 1px;
   border-radius: 10px;
   margin : 15px 15px;
   cursor : pointer;
   width : 650px;
   height: 370px;
}
.ram-bagh-palace-info
{
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    color : rgb(0, 0, 0);  
    font-size: 15px;
    align-items: start;
    text-align: center;
    margin-top: 0px;
}
.ram-bagh-palace-heading
{
    cursor : pointer;
    text-align: center;
    margin-top: 0px;
}
.second-two
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.oberoi-rajvillas
{
    display : flex;
    flex-direction : column ;
    justify-items : center;
    align-items: center;
    background-color: rgb(249, 202, 209);
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 10px;
}
.oberoi-rajvillas-img
{
   object-fit: cover;
   border-color: rgb(168, 168, 168);
   border-width: 1px;
   border-radius: 10px;
   margin : 15px 15px;
   cursor : pointer;
   width: 650px;
   height: 370px;
}
.oberoi-rajvillas-info
{
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    color : rgb(0, 0, 0);  
    font-size: 15px;
    align-items: start;
    text-align: center;
    margin-top: 0px;
}
.oberoi-rajvillas-heading
{
    cursor : pointer;
    text-align: center;
    margin-top: 0px;
}
.jai-mahal-palace
{
    display : flex;
    flex-direction : column ;
    justify-items : center;
    align-items: center;
    background-color: rgb(249, 202, 209);
    border-radius: 20px;
    margin-top:40px;
    margin-right: 10px;
}
.jai-mahal-palace-img
{
   object-fit: cover;
   border-color: rgb(168, 168, 168);
   border-width: 1px;
   border-radius: 10px;
   margin : 15px 15px;
   cursor : pointer;
   width : 650px;
   height : 370px;
}
.jai-mahal-palace-info
{
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    color : rgb(0, 0, 0);  
    font-size: 15px;
    align-items: start;
    text-align: center;
    margin-top: 0px;
}
.jai-mahal-palace-heading
{
    cursor : pointer;
    text-align: center;
    margin-top: 0px;
}
.third-two
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.fairmount-jaipur
{
    display : flex;
    flex-direction : column ;
    justify-items : center;
    align-items: center;
    background-color: rgb(249, 202, 209);
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 10px;
}
.fairmount-jaipur-img
{
   object-fit: cover;
   border-color: rgb(168, 168, 168);
   border-width: 1px;
   border-radius: 10px;
   margin : 15px 15px;
   cursor : pointer;
   width: 650px;
   height: 370px;
}
.fairmount-jaipur-info
{
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    color : rgb(0, 0, 0);  
    font-size: 15px;
    align-items: start;
    text-align: center;
    margin-top: 0px;
}
.fairmount-jaipur-heading
{
    cursor : pointer;
    text-align: center;
    margin-top: 0px;
}
.samod-palace
{
    display : flex;
    flex-direction : column ;
    justify-items : center;
    align-items: center;
    background-color: rgb(249, 202, 209);
    border-radius: 20px;
    margin-top:40px;
    margin-right: 10px;
}
.samod-palace-img
{
   object-fit: cover;
   border-color: rgb(168, 168, 168);
   border-width: 1px;
   border-radius: 10px;
   margin : 15px 15px;
   cursor : pointer;
   width : 650px;
   height : 370px;
}
.samod-palace-info
{
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    color : rgb(0, 0, 0);  
    font-size: 15px;
    align-items: start;
    text-align: center;
    margin-top: 0px;
}
.samod-palace-heading
{
    cursor : pointer;
    text-align: center;
    margin-top: 0px;
}